*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#bg-video_w{
			opacity: 1;
			transition: 0.5s;
            position: fixed;
            top: 0;
            left: 0;
            width: 1920px;
            z-index: -99; 
            overflow: hidden;
}

#body{
	display: grid;
	place-content:center;
	transition: background-color 0.5s;
}
#body:has(.toggle__input:checked) #bg-video_w{
  opacity: 0;
  transition: 0.5s;
}
#body:has(.toggle__input:checked) {
  background-color: #000;
}
.toggle{
	--base-scale:100px;
	position: absolute;
	top: 2px;
	left: 2px;	
	--transition-standard: 0.3s ease;
	--toggle-width:60px;
	--toggle-heighr:30px;
	--bg-toggle-light:#3d7eae;
	--radius-pill:9999em;
	--shadow-highlight:rgba(255, 255, 255,0.94);
	--bg-toggle-dark:#1d1f2c;
	--sun-diameter:25px;
	--clr-sun:#ecca2f;
	--sun-offset: calc((var(--toggle-heighr) - var(--sun-diameter))/2);
	--shadow-primary-b: rgba(0,0,0,0.25);
	--shadow-primary-w: rgba(255,255,255,1);
	--sun-light-clr: rgba(255,255,255,0.1);
	--clr-moon: #c4c9d1;
	--clr-moon-boon: #959db1;
	--clr-cloud-frant: rgba(255,255,255,1);
	--clr-cloud-back: #aacadf;


}

.toggle__stars{
	position: absolute;
	stroke: #fff;
	transform: translateY(-100%);
	transition: transform 0.5s;
}

.toggle__input:checked + .toggle__container .toggle__stars{
	transform: translateY(-60%);
	transition: transform 0.5s;
}


.toggle__clouds{
	width: 20px;
	height: 20px;
	background-color: var(--clr-cloud-frant);
	border-radius: 50%;
	position: absolute;
	left: 3px;
	top: 20px;
	box-shadow: 
		10px 5px var(--clr-cloud-frant),
		20px 0px var(--clr-cloud-frant),
		30px -3px var(--clr-cloud-frant),
		40px -3px var(--clr-cloud-frant),
		45px -8px var(--clr-cloud-frant),
		50px -20px 0px 5px var(--clr-cloud-frant),
		0px -5px var(--clr-cloud-back),
		10px 0px var(--clr-cloud-back),
		20px -3px var(--clr-cloud-back),
		30px -5px var(--clr-cloud-back),
		40px -8px var(--clr-cloud-back),
		48px -20px 0 5px var(--clr-cloud-back);
	transform: translateY(0%);
	transition: transform 0.5s;

	;

}

.toggle__input:checked + .toggle__container .toggle__clouds{
	transform: translateY(200%);
	transition: transform 0.5s;
}


.boon{
	position: relative;
	border-color: var(--clr-moon-boon);
	border-radius: 50%;
	box-shadow: 1px 1px 2px var(--shadow-primary-b) inset;
}

.b1{
	top: 10%;
	width: 10px;
	height: 10px;
}
.b2{
	width: 3px;
	height: 3px;
	left: 50%;
}
.b3{
	height: 20px;
	top: 15%;
}
.toggle__moon-mask{
	background-color: var(--clr-moon);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: transform 0.5s;
	transform: translateX(100%);
	overflow: hidden;
}

.toggle__input:checked + .toggle__container .toggle__moon-mask{
	transform: translateX(0%);
	transition: transform 0.5s;

}


.toggle__input:checked + .toggle__container .toggle__sun{
	transform: translateX(
		calc(
		var(--toggle-width) - 
		var(--sun-diameter) -
		var(--sun-offset)
		)
	);
}

.toggle__sun{
	width: var(--sun-diameter);
	height: var(--sun-diameter);
	background-color: var(--clr-sun);
	border-radius: 50%;
	position: absolute;
	top: var(--sun-offset);
	transform: translateX(var(--sun-offset));
	transition: transform 0.5s;
	box-shadow: -1px -1px 1px 1px var(--shadow-primary-b) inset,
				1px 1px 1px 0px var(--shadow-primary-b),
				0.5px 0.5px 1px 0px var(--shadow-primary-w) inset,
				-1px -1px 2px 0px var(--shadow-primary-w),
				0 0 0 5px var(--sun-light-clr),
				0 0 0 10px var(--sun-light-clr),
				0 0 0 15px var(--sun-light-clr)
				;
	overflow: hidden;
}	

.toggle{
	font-size: var(--base-scale);
}

.toggle__container{
	width: var(--toggle-width);
	height: var(--toggle-heighr);
	background-color:var(--bg-toggle-light);
	border-radius:var(--radius-pill);
	cursor:pointer;
	transition: background-color var(--transition-standard);
	box-shadow:1px 1px 5px 1px var(--shadow-highlight);
	overflow: hidden;
	position: fixed;
    top: 3px;
    left: 3px;
    z-index: 9999;

}

.toggle__container:hover .toggle__sun{
	transform: translateX(calc(var(--sun-offset) + 3px));
}
.toggle__input:checked + .toggle__container:hover .toggle__sun{
	transform: translateX(calc(
		
	var(--toggle-width) - var(--sun-diameter) - var(--sun-offset)
	- 3px
	
	));
}



.toggle__input{
	display: none;
}

.toggle__container::after{
	content: "";
	position: absolute;
	inset: 0;
	border-radius: var(--radius-pill);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.85) inset;
	pointer-events: none;
}



.toggle__input:checked + .toggle__container{
	background-color:var(--bg-toggle-dark);
}


















