#body:has(.toggle__input:checked) .bookshelf{
    opacity: 0;
    z-index: -1;
}

@keyframes bookshelf_shadow{
    from{
        box-shadow: 0px 0px 3px 1px #7ce79c inset;
    }
    10%{
        box-shadow: 0px 0px 3px 1px #e0e77c inset;
    }
    20%{
        box-shadow: 0px 0px 3px 1px #e7a77c inset;
    }
    30%{
        box-shadow: 0px 0px 3px 1px #e77c7c inset;
    }
    40%{
        box-shadow: 0px 0px 3px 1px #e77cc3 inset;
    }
    50%{
        box-shadow: 0px 0px 3px 1px #b37ce7 inset;
    }
    60%{
        box-shadow: 0px 0px 3px 1px #837ce7 inset;
    }
    70%{
        box-shadow: 0px 0px 3px 1px #7ccee7 inset;
    }
    80%{
        box-shadow: 0px 0px 3px 1px #7ce0e7 inset;
    }
    90%{
        box-shadow: 0px 0px 3px 1px #7ce7c3 inset;
    }
    to{
        box-shadow: 0px 0px 3px 1px #7ce79c inset;
    }
}

@keyframes title_text_shadow{
    from{
        text-shadow: 0 0 3px  #7ce79c;
    }
    10%{
        text-shadow: 0 0 3px  #e0e77c;
    }
    20%{
        text-shadow: 0 0 3px  #e7a77c;
    }
    30%{
        text-shadow: 0 0 3px  #e77c7c;
    }
    40%{
        text-shadow: 0 0 3px  #e77cc3;
    }
    50%{
        text-shadow: 0 0 3px  #b37ce7;
    }
    60%{
        text-shadow: 0 0 3px  #837ce7;
    }
    70%{
        text-shadow: 0 0 3px  #7ccee7;
    }
    80%{
        text-shadow: 0 0 3px  #7ce0e7;
    }
    90%{
        text-shadow: 0 0 3px  #7ce7c3;
    }
    to{
        text-shadow: 0 0 3px  #7ce79c;
    }
}
@font-face{
    font-family: "类楷";
    src: url("font/类楷.TTF") format('truetype');
    font-style: italic; 
}




.bookshelf{
    --book-height:648px;
    --book-width:300px;
    --z-height:10px;
    --z-width:10px;
    --y-height:30px;
    --y-width:30px;
    --tle-width:100%;
    --tle-height:50px;
    --line_b-height:2px;
    --clock-width:calc(var(--book-height)  - var(--book-height) * 0.73 - 3px);
    --clock-height:calc(var(--book-height)  - var(--book-height) * 0.73 - 5px);
    --clock_time-width:calc(var(--book-height)  - var(--book-height) * 0.73 - 5px) ;
    --clock_time-height: 50px;
    --book_clock_time_sc: 30px;







    animation: bookshelf_shadow 2s linear infinite;
    opacity: 1;
    transition: 0.5s;
    height: var(--book-height);
    background:none;
    width: var(--book-width);
    position: absolute;
    top: 108px;
    left: 10px;
    border: 3px solid black;
    z-index: 1;
}

.box_uu{
    width: calc(var(--book-width) - 26px);
    position: absolute;
    top: calc(10% + var(--line_b-height));
    left: 20px;
    word-wrap: break-word;
    line-height: 40px;
    user-select: none;
}

.box_uu ul{
    width: calc(var(--book-width) - 26px);
    font-size: 15px;
    list-style-type: circle;
    color: white;
}


.book_clock{
    height: var(--clock-height);
    width: var(--clock-width);
    background:none;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: calc((var(--book-width) - var(--clock-width)) / 2 - 6px);
    animation: bookshelf_shadow 10s linear infinite;
}

.book_clock_time{
    width: var(--clock_time-width);
    height: var(--clock_time-height);
    background:none;
    text-align: center;
    position: relative;
    top: calc(50% - var(--clock_time-height) / 2);
    left: calc(0px - 1px);
    font-size: 30px;
    user-select: none;
    font-family: 类楷;
}

.book_clock_time_sc{
    font-size: 20px;
    position: absolute;
    text-align: center;
    left: calc((var(--clock_time-width) - var(--book_clock_time_sc))/2 + 60px);
    background:none;
    width: var(--book_clock_time_sc);
    height: var(--book_clock_time_sc);
    top: calc(50% - var(--clock_time-height) / 2 + 40px);
    font-family: 类楷;
    user-select: none;
    color:#000000;
}



.title_book{
    height: var(--tle-height);
    width: var(--tle-width);
    position: absolute;
    top: 0%;
    user-select: none;
}

.title_book span{
    color: rgba(0,0,0,1);
    transform: scale(1);
    transition: 0.5s;
}

.title_book span:active{
    transition: 0.1s;
    font-size: 20px;
}

.title_book span:hover{
    animation: title_text_shadow 3s linear infinite;
    color: rgba(0,0,0,0);
}

.title_book:hover .sp_1{
    transform: translateX(-100px);
}


.zyk{
    width: var(--z-width);
    height: var(--z-height);
    position: absolute;
    border: 2px solid #7ce79c;
    z-index: -97;
}

.line_b{
    height: var(--line_b-height);
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 10%;
}
.line_b_a{
    height: var(--line_b-height);
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 73%;
}




.bookshelf:hover .z{
    transform:
        translateX(calc(var(--book-width) - var(--z-width)))
        translateY(calc(3px - var(--z-height)))
        rotate(720deg)
        ;   
    transition: 1s ease;
    
    
    border: 2px solid #7ce;
    box-shadow: 0px 0px 3px 1px #7ce;
    border-radius: 50%;
    background-color: rgb(159, 153, 235);
}
.bookshelf:hover .y{
    transform: 
        translateX(calc(3px - var(--z-width)))
        translateY(calc(var(--book-height) - var(--z-height)))
        rotate(720deg)
    ;
    transition: 1s ease;


    border: 2px solid #7ce;
    box-shadow: 0px 0px 3px 1px #7ce;
    border-radius: 50%;
    background-color: rgb(159, 153, 235);
}
.zyy{
    height: var(--y-height);
    width: var(--y-width);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px #f17151 inset;
    animation: bookshelf_shadow 2s linear infinite;
    z-index: -97;
}
.zy{
    transform: 
        translateX(calc(var(--book-width) - var(--y-width) + var(--z-width)))
        translateY(calc(var(--book-height) / 2 + 100px))
    ;
    opacity: 0;
    transition: 1s ease;
}
.yy{
    transform: 
        translateX(calc(6px - var(--z-width) - var(--z-width)))
        translateY(calc(var(--book-height) / 2 - 100px))
    ;
    opacity: 0;
    transition: 1s ease;
}
.bookshelf:hover .yy{
    transform: 
        translateX(calc(6px - var(--z-width) - var(--z-width)))
        translateY(calc(6px - var(--y-width) - var(--z-height) - 10px))
    ;
    opacity: 1;
    transition: 1s ease;
}
.bookshelf:hover .zy{
    transform: 
        translateX(calc(var(--book-width) - var(--y-width) + var(--z-width)))
        translateY(calc(var(--book-height) - var(--y-height) + var(--z-height)))
    ;
    opacity: 1;
    transition: 1s ease;
}
.z{
    transform: 
        translateX(calc(3px - var(--z-width)))
        translateY(calc(var(--book-height) - var(--z-height)))
    ;
    transition: 1s ease;
}
.y{
    transform: 
        translateX(calc(var(--book-width) - var(--z-width)))
        translateY(calc(3px - var(--z-height)))
    ;
    transition: 1s ease;
}