/* .data_flow{
    --data_flow-width:576px;
    --data_flow-height:100%;







    background: none;
    border: 1px solid red;
    width: var(--data_flow-width);
    height: var(--data_flow-height);
    position: absolute;
    right: 0;
    overflow: hidden;
} */

#body:has(.toggle__input:checked) .data_flow{
    opacity: 0;
}


.data_flow {
    --data_flow-width: 1920px;
    --data_flow-height: 110%;
    



    background: none;
    transform: translateY(-10%);
    width: var(--data_flow-width);
    height: var(--data_flow-height);
    position: absolute;
    right: 0;
    overflow: hidden;
    opacity: 1;
    transition: 0.5s;
    z-index: -1;
    user-select: none;
}

.particle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.particle {
    position: absolute;
    color: white;
    font-family: monospace;
    font-size: 16px;
    pointer-events: none;
    white-space: pre;
    will-change: transform, opacity;
}



@keyframes particleFlow {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(calc(100vh + 50px));
        opacity: 0;
    }
}